image: ralfjung/opam-ci:opam2

stages:
  - build

variables:
  # dune takes care of parallelization itself and does not like running in parallel
  CPU_CORES: "1"
  MAKE_TARGET: "all_and_tests"
  OCAML: "ocaml-variants.4.14.0+options ocaml-option-flambda"

.template: &template
  stage: build
  tags:
  - fp
  script:
  - git clone https://gitlab.mpi-sws.org/iris/ci.git ci -b opam2
  - ci/buildjob
  cache:
    key: "$CI_JOB_NAME"
    paths:
    - _opam/
  only:
  - main@iris/isla-coq
  - /^ci/@iris/isla-coq
  - /^time/@iris/isla-coq
  except:
  - triggers
  - schedules
  - api

## Build jobs
build-coq.8.17.0-timing:
  <<: *template
  variables:
    OPAM_PINS: "coq version 8.17.0   isla-lang git git+https://git@github.com/rems-project/isla-lang.git#4ee3daa3a9f04b2d6a55dd94026ff5f9d79db5fc"
    DENY_WARNINGS: "1"
    # OPAM_PKG: "1"
  only:
  - main@iris/isla-coq
  - /^time/@iris/isla-coq
  # timing only for main and time/ branches
  tags:
  - fp-timing

build-coq.8.17.0:
  <<: *template
  variables:
    OPAM_PINS: "coq version 8.17.0   isla-lang git git+https://git@github.com/rems-project/isla-lang.git#4ee3daa3a9f04b2d6a55dd94026ff5f9d79db5fc"
    DENY_WARNINGS: "1"
  only:
  - /^ci/@iris/isla-coq

trigger-iris.dev:
  <<: *template
  variables:
    OPAM_PINS: "coq version 8.17.0   coq-stdpp.dev git git+https://gitlab.mpi-sws.org/iris/stdpp.git#$STDPP_REV   coq-iris.dev git git+https://gitlab.mpi-sws.org/iris/iris.git#$IRIS_REV  isla-lang git git+https://git@github.com/rems-project/isla-lang.git#4ee3daa3a9f04b2d6a55dd94026ff5f9d79db5fc"
  except:
  only:
  - triggers
  - schedules
  - api
