*.cache
\#*\#
.\#*
*~
.vscode
*.swp
*.bak
.coqdeps.d
.coq-native/
*.crashcoqide
.env
builddep/
_CoqProject.*
_opam/
_build/
.merlin
/run_isla_footprint.sh
*.o
/sail/dune
/sail-riscv/dune
_opam*
/sail-riscv/bbv/
/sail-riscv/coq/
*.isla
/data.json
/deps/*.tar.gz
/deps/bbv/
/deps/sail-riscv/
