# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    env:
      OCAML: "ocaml-base-compiler.4.07.1"
      OPAM_PINS: "coq version 8.13.2   cerberus git git+https://github.com/rems-project/cerberus.git#7eb94d628845555cb5425f4f4b48890b345efdc5   isla-lang git git+https://git@github.com/rems-project/isla-lang.git#e8ad028fb425092f006839fff1c1bbd04116e71a"
      CPU_CORES: "1"
      DENY_WARNINGS: "1"
      CI_RUNNER: "dummy"
      MAKE_TARGET: "all_and_tests"

    container:
      image: ralfjung/opam-ci:opam2
      options: --user 1001

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Cache opam
        uses: actions/cache@v2
        with:
          path: |
            _opam
          key: coq-${{ hashFiles('**/coq-isla.opam') }}

      - name: Run CI
        run: |
          git clone https://gitlab.mpi-sws.org/iris/ci.git ci -b opam2
          ci/buildjob
